.custom-preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.5s;
    opacity: 1;
}
.custom-preloader-remove {
    opacity: 0;
    z-index: -10;
}

.custom-preloader svg {
    max-width: 25em;
    border-radius: 3px;
    background: #FFF;
    fill: none;
    stroke: #BFE2FF;
    stroke-linecap: round;
    stroke-width: 12%
}
.custom-preloader use {
    stroke: #337AB7;
    animation: preloader 2s linear infinite
}
@keyframes preloader {
    to {
        stroke-dashoffset: 0px;
    }
}